<mat-card>
    <div class="flex justify-between ">
        <div *ngFor="let image of track.album.images" >
            <img *ngIf="image.height === 640" class="w-24 h-24" src="{{image.url}}"/>
        </div>
        <div class="flex-column px-1">           
            <p >{{track.name}}</p>
            <p *ngFor="let artist of track.artists" class="text-gray-500 flex-row">{{artist.name}}</p>  
        </div>
        <button (click)="onAddToQueue()">
            <mat-icon class="text-gray-500 flex-auto">add</mat-icon>
        </button>
    </div>
</mat-card> 


