<mat-card>
    <div class="flex flex-row justify-between">
        <img class="w-12 h-12" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHgY_d7RJRKq7o32cSaUdTDA5oKrmzp6Eczw&usqp=CAU"/>
        <div class="w-full" class="px-8 flex-column">           
            <p class="">Jestem już dostępna</p>
            <p class="text-gray-500">Belmondo & Rafalala</p>  
        </div>
        <button>
            <mat-icon class="text-gray-500 flex-auto">add</mat-icon>
        </button>
    </div>
</mat-card> 

